<h1>{{ recipe.title }}</h1>

<form method="get">
    <label for="servings">Personas:</label>
    <select name="servings" id="servings" onchange="this.form.submit()">
        {% for i in "123456" %}
            <option value="{{ forloop.counter }}"
                {% if forloop.counter == servings %}selected{% endif %}>
                {{ forloop.counter }}
            </option>
        {% endfor %}
    </select>
</form>

<p>Para {{servings}} persona(s)</p>

<ul>
    {% for ing in ingredients %}
        <li>{{ ing.quantity }} {{ing.unit}} {{ing.name}}</li>
    {% endfor %}
</ul>